<%= render "layouts/header" %>

<div id="test-table-container">

  <table id="test-table">

    <thead>

      <%# iterate over the protocol object's attributes and produce the first row 
      of the header %>
      <tr>  
        <th rowspan="2"><%= @protocol.name %></th>
        <% @protocol.attributes.each_with_index do |(attribute, value), index| %>
          <% if value == nil or attribute == "compound" %>
            <% break %>
          <% end %>
          <th><%= "Test Point #{index + 1}" %></th>
        <% end %>
      </tr>

      <%# iterate over the protocol object's attributes and produce the second row 
      of the header that has the GPMs %>
      <tr>
        <% @protocol.attributes.each_with_index do |(attribute, value), index| %>
          <% if value == nil or attribute == "compound" %>
            <% break %>
          <% end %>
          <th><%= value %></th>
        <% end %>
      </tr>

    </thead>

    <tbody>

      <%# iterate over the protocol object's attributes and specify whether its a
      main line or secondary line %>
      <tr>
        <th></th>
        <% @protocol.attributes.each_with_index do |(attribute, value), index| %>
          <% if value == nil or attribute == "compound" %>
            <% break %>
           <% end %>
          <th>Main</th>
        <% end %>
      </tr>

      <%# for collecting the meter start read %>
      <tr class="start-read">
        <td>Start Read</td>
        <% @protocol.attributes.each_with_index do |(attribute, value), index| %>
          <% if value == nil or attribute == "compound" %>
            <% break %>
           <% end %>
          <td><%= number_field "tp#{index + 1}_start_read".to_sym, nil, step: "any" %></td>
        <% end %>
      </tr>

      <%# for collecting the meter ending read %>
      <tr class="end-read">
        <td>End Read</td>
        <% @protocol.attributes.each_with_index do |(attribute, value), index| %>
          <% if value == nil or attribute == "compound" %>
            <% break %>
           <% end %>
          <td><%= number_field "tp#{index + 1}_end_read".to_sym, nil, step: "any" %></td>
        <% end %>
      </tr>

      <%# total volume %>
      <tr class="volume">
        <td>Volume</td>
        <% @protocol.attributes.each_with_index do |(attribute, value), index| %>
          <% if value == nil or attribute == "compound" %>
            <% break %>
           <% end %>
          <td class="register-volume"></td>
        <% end %>
      </tr>

      <%# for collecting reference meter start read %>
      <tr class="ref-start-read">
        <td>Reference Start Read</td>
        <% @protocol.attributes.each_with_index do |(attribute, value), index| %>
          <% if value == nil or attribute == "compound" %>
            <% break %>
           <% end %>
          <td><%= number_field "tp#{index + 1}_ref_start_read".to_sym, nil, step: "any" %></td>
        <% end %>
      </tr>

      <%# for collecting reference meter end read %>
      <tr class="ref-end-read">
        <td>Reference End Read</td>
        <% @protocol.attributes.each_with_index do |(attribute, value), index| %>
          <% if value == nil or attribute == "compound" %>
            <% break %>
           <% end %>
          <td><%= number_field "tp#{index + 1}_ref_end_read".to_sym, nil, step: "any" %></td>
        <% end %>
      </tr>

      <%# for collecting reference volume %>
      <tr class="ref-volume">
        <td>Reference Volume</td>
        <% @protocol.attributes.each_with_index do |(attribute, value), index| %>
          <% if value == nil or attribute == "compound" %>
            <% break %>
           <% end %>
          <td class="reference-volume"></td>
        <% end %>

      <%# for calculating the accuracy of each test point%>
      <tr>
        <td>Accuracy</td>
        <% @protocol.attributes.each_with_index do |(attribute, value), index| %>
          <% if value == nil or attribute == "compound" %>
            <% break %>
           <% end %>
          <td class="accuracy"></td>
        <% end %>
        
      </tr>
    </tbody>
  </table>
</div>