<div id='form-containier' class='form'> 
  <%= form_for @test do |f| %>
    <%= render 'layouts/error_messages' %>
    <div class="form-group">
      <%= f.label 'Name' %>
      <%= f.text_field :test_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label 'Meter Size' %>
      <%= f.number_field :size, class: 'form-control', step: :any %>
    </div>

    <div class="form-group">
      <%= f.label 'Meter Type' %>
      <%= f.text_field :meter_type, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label 'Meter Brand' %>
      <%= f.text_field :brand, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label 'Meter Model' %>
      <%= f.text_field :model, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label 'Test Type' %>
      <%= f.collection_select :test_type_id, 
                              TestType.order(:name), 
                              :id, 
                              :name,
                              prompt: true,
                              class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label 'Protocol' %>
      <%= f.collection_select :protocol_id, 
                              Protocol.order(:name), 
                              :id, 
                              :name,
                              prompt: true,
                              class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit', class: 'button btn btn-primary btn-block btn-lg' %>
    </div>
  <% end %>

</div>