<div class='container h-100'>
  <div class='row h-100 justify-content-center align-items-center'>
    <div class='col align-self-center'>
      <%= form_for @test, html: { class: 'form', autocomplete: 'off' } do |f| %>
        <h3>New Test</h3>
        <%= render 'layouts/error_messages' %>

        <div class="form-group row">
          <%= f.label :test_name,'Name', class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= f.text_field :test_name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :size, 'Meter Size', class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= f.number_field :size, class: 'form-control', step: :any %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :meter_type, 'Meter Type', class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= f.text_field :meter_type, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :meter_brand, 'Meter Brand', class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= f.text_field :brand, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :model, 'Meter Model', class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= f.text_field :model, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :test_type, 'Test Type', class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= f.collection_select :test_type_id, 
                                    TestType.order(:name), 
                                    :id, 
                                    :name,
                                    prompt: true,
                                    class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :protocol_id, 'Protocol', class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= f.collection_select :protocol_id, 
                                    Protocol.order(:name), 
                                    :id, 
                                    :name,
                                    prompt: true,
                                    class: 'form-control' %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit 'Submit', class: 'button btn btn-primary btn-block btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>