<table class='table'>
  <tr>
    <th>Test Name</th>
    <th>Size</th>
    <th>Type</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Test Type</th>
    <th>Protocol</th>
    <th>Run Test</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
 
  <% @tests.each do |test| %>
    <tr>
      <td><%= test.test_name %></td>
      <td><%= test.size %></td>
      <td><%= test.meter_type %></td>
      <td><%= test.brand %></td>
      <td><%= test.model %></td>
      <td><%= test.test_type.name %></td>
      <td><%= test.protocol.name %></td>
      <td><%= link_to('Run', new_test_result_path(test_id: test.id)) %></td>
      <td><%= link_to('Update', edit_test_path(test)) %></td>
      <td><%= link_to('Delete', test_path(test), method: :delete) %></td>
    </tr>
  <% end %>
</table>