<table class='table table-hover'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>Test Name</th>
      <th scope='col'>Size</th>
      <th scope='col'>Type</th>
      <th scope='col'>Brand</th>
      <th scope='col'>Model</th>
      <th scope='col'>Test Type</th>
      <th scope='col'>Protocol</th>
      <th scope='col'>Run Test</th>
      <th scope='col'>Update</th>
      <th scope='col'>Delete</th>
    </tr>
  </thead>
 
  <tbody>
  <% @tests.each do |test| %>
    <tr>
      <td><%= test.test_name %></td>
      <td><%= test.size %></td>
      <td><%= test.meter_type %></td>
      <td><%= test.brand %></td>
      <td><%= test.model %></td>
      <td><%= test.test_type.name %></td>
      <td><%= test.protocol.name %></td>
      <td><%= link_to('Run', new_test_result_path(test_id: test.id)) %></td>
      <td><%= link_to('Update', edit_test_path(test)) %></td>
      <td><%= link_to('Delete', test_path(test), method: :delete) %></td>
    </tr>
  <% end %>
  </tbody>
</table>