<header class="header-two-bars">

  <div class="header-first-bar">

    <div class="header-limiter">

      <h1><a href="#">LADWP<span></span></a></h1>

      <nav id="main-menu">
        <a href="#">Test</a>
        <a href="#">Report</a>
        <a href="#">Search</a>
      </nav>

      <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "logout-button") %>
      <span><%= current_user.email %></span>
    </div>

  </div>

  <div class="header-second-bar">

    <div class="header-limiter">

      <nav id="secondary-menu">

    <!-- Protocol dropdown button and selection -->
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Protocol
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
          <% @protocols.each do |protocol| %>
            <li><%= link_to(protocol.name, test_result_path(protocol), class: "dropdown-item") %></li>
          <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to('New Protocol', new_protocol_path, remote: false, class: "dropdown-item") %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Delete Protocol', protocols_path, remote: false, class: "dropdown-item") %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Edit Protocol', protocols_path, remote: false, class: "dropdown-item") %></li>
        </ul>
      </div>

    <!-- Adjustment factor dropdown button and selection -->
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Adjustment Factor
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
            <!-- INSERT ADJUSMENT FACTORS -->
          <li role="separator" class="divider"></li>
          <li><a class="dropdown-item" id="create-protocol">Create New Protocol</a></li>
        </ul>
      </div>

      </nav>

    </div>

  </div>

</header>